
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


.container{
  background: linear-gradient(to bottom, #87cefa, #4682b4);
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app{
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  grid-gap:1rem; 
}

.first-row-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; 
}

.second-row-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; 
}

.box{
  background-color: #3c5b9e;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
}


.leaflet-container {
  height: 40rem;
  width: 40rem;
  margin: auto auto;
  border-radius: 5px;
}

.header{
  background-color: #1e3a8a;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 5px;
}

.header h1{
  font-weight: 400;
  color: white;
  
}



.search{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

input{
  padding: 1.3rem;
  width: 30rem;
  text-align: center;
}

ul{
  list-style: none;
}

li{
  background-color: white;
  margin: 1px 0px;
  font-size: 1.5rem;
  font-weight: 100;
  width: 30rem; 
}

li:hover{
  background-color: #3c5b9e;
  color: white;
}

.weather{
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  height: 100%;
  justify-content: center;
  width: 100%;
  grid-gap:2rem;
}

.weather .weather-header-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem; 
}

.weather .fav-button{
  padding: 0.5rem;
  color: white;
  background-color: #1e3a8a;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1rem;
}

.weather h3{
  color: white;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.current-weather{
  width: 100%;
  display: grid;
  grid-template-rows:  1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border-bottom: 1px solid white;
  align-items: center;
}

.current-weather h3{
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}
.current-weather img{
  margin: auto auto; 
}

.current-weather p{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.forecast h3{
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.three-day-forecast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:0.5rem;
  margin-top: 0.5rem;
}

.one-day-foreacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one-day-foreacts p{
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

.one-day-foreacts img{
  height: 3rem;
}

.slider{
  align-self: flex-end;
  margin: auto;
}

.favourites{
  background-color:#1e3a8a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.favourites h2{
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.fav-li-item{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
  grid-gap:0.5rem;
  background-color: aliceblue;
  width: 100%;
}

.fav-li-item:hover{
  background-color: aliceblue;
  color:black;
}

.fav-li-item p{
  text-align: center;
}

.fav-li-item button {
  padding: 0.8rem;
  border-radius: 5px;
  border: none; 
  color: white;
}

.fav-li-item .get{
  background-color: rgb(38, 144, 38);
}

.fav-li-item .get:hover{
  background-color: rgb(9, 89, 9);
}


.fav-li-item .delete{
  background-color: red;
}

.fav-li-item .delete:hover{
  background-color: rgb(177, 4, 4);
}

.loading{
  font-size: 3.2rem;
  font-weight: 300;
  color: white;
}